[submodule "Libraries/gemini"]
	path = Libraries/gemini
	url = https://github.com/icanos/gemini.git
	branch = master
[submodule "Libraries/PowerShellEditorServices"]
	path = Libraries/PowerShellEditorServices
	url = https://github.com/icanos/PowerShellEditorServices.git
