<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Automation Studio" Language="1033" Version="1.0.11" Manufacturer="Marcus Westin, marcus@thewestins.nu" UpgradeCode="30587f39-2c58-46d5-9c22-9c1c002b8adf">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Automation Studio" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Automation Studio" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent" DiskId="1" Guid="{B65CDCEE-7130-4759-A8E8-16D84717CCF3}">
        <File Source="$(var.SMAStudiovNext.TargetPath)" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\Caliburn.Micro.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\Caliburn.Micro.Platform.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\DocX.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\Gemini.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\Gemini.Modules.CodeEditor.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\Gemini.Modules.ErrorList.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\Gemini.Modules.Output.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\ICSharpCode.AvalonEdit.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\MahApps.Metro.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\Microsoft.Data.Edm.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\Microsoft.Data.OData.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\Microsoft.Data.Services.Client.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\Microsoft.Practices.ServiceLocation.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\Microsoft.Practices.Unity.Configuration.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\Microsoft.Practices.Unity.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\Microsoft.Practices.Unity.RegistrationByConvention.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\Mono.Security.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\Newtonsoft.Json.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\SMAStudiovNext.exe.config" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\System.Spatial.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\System.Windows.Interactivity.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\VisioAutomation.VDX.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\Xceed.Wpf.AvalonDock.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\Xceed.Wpf.AvalonDock.Themes.Aero.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\Xceed.Wpf.AvalonDock.Themes.Metro.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\Xceed.Wpf.AvalonDock.Themes.VS2010.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\Xceed.Wpf.AvalonDock.Themes.VS2013.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\Xceed.Wpf.DataGrid.dll" />
        <File Source="$(var.SMAStudiovNext.TargetDir)\Xceed.Wpf.Toolkit.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>